# GitHub
GH_VERSION=YYYYMMDD_nn
GH_TOKEN=ghp_yourGitHubPersonalAccessToken
GH_TEST_REPO=your-github-username/your-repo-name
GH_REPO_OWNER=your-github-username
GH_REPO_FQ_OWNER=your-github-username_your-org
GH_REPO_NAME=your-repo-name
GH_REPO=your-github-username/your-repo-name
GH_PAT=ghp_yourGitHubPersonalAccessToken
GH_POLL_INTERVAL=60
GH_POLL_SLUGS=GITHUB_LIST_ISSUE_EVENTS_FOR_A_REPOSITORY,GITHUB_LIST_COMMITS,GITHUB_LIST_PULL_REQUESTS
# GH_PR_DIFF_BASE_URL=https://github.com/{owner}/{repo}/pull/{number}.diff

# Composio
COMPOSIO_API_KEY=ak_yourComposioApiKey
COMPOSIO_USER_ID=pg-test-your-composio-user-uuid
COMPOSIO_P0_DIR=/absolute/path/to/p0_composio_fit_assessment
COMPOSIO_MAIN_LOOP_DELAY=60

# Logging
COMPOSIO_P0_LOG_PATH=/absolute/path/to/p0_composio_fit_assessment/logs
COMPOSIO_P0_LOGGER_NAME=agent_logger
COMPOSIO_P0_LOG_NAME=agent_activity.log
COMPOSIO_P0_LOG_CONFIG_WHEN=midnight
COMPOSIO_P0_LOG_CONFIG_INTERVAL=1
COMPOSIO_P0_LOG_CONFIG_BACKUPCOUNT=7
COMPOSIO_P0_LOG_CONFIG_ENCODING=utf-8

# Slack
SLACK_CHANNEL_ID=CXXXXXXXXXX
# SLACK_CHANNEL_ID=CYYYYYYYYYY
SLACK_VERSION=YYYYMMDD_nn
SLACK_USER_ID=your-composio-user-id

# Gmail
GMAIL_SLUG=GMAIL_SEND_EMAIL
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
GMAIL_AUTH_CONFIG_ID=ac_yourComposioAuthConfigId
GMAIL_USER=your-gmail@gmail.com
GMAIL_TO=your-recipient@gmail.com
GMAIL_FROM=Your Bot Name <your-sender@gmail.com>
GMAIL_BOT_VERSION=YYYYMMDD_nn
GMAIL_COMPOSIO_CONNECTION_ACCOUNT_ID=ca_yourComposioAccountId
GMAIL_COMPOSIO_CONNECTION_ACCOUNT_USER_ID=your-composio-user-id
